@scope (title-values) {
    :scope {
        display: flex;
        flex-direction: column;
        row-gap: var(--rg);

        & h3 {
            margin: 0;
            font-weight: var(--fw-n);
            font-size: var(--fs-n);
        }

        & a {
            line-height: var(--s-n);
            font-weight: var(--fw-b);
            color: inherit
        }

        & > div {
            line-height: var(--s-n);
            color: var(--c-gray);
            font-size: var(--fs-s)
        }
    }
}