@scope (title-values) {
    :scope {
        display: flex;
        flex-direction: column;
        row-gap: var(--s-n);

        & h3 {
            margin: 0
        }

        & a {
            font-weight: var(--fw-b);
            color: inherit
        }

        & > div {
            color: var(--c-subtle);
            font-size: var(--fs-s)
        }

        & input[type=text],
        input[type=search] {
            appearance: none;
            border: none;
            border-radius: var(--br-n);
            background-color: var(--c-highlight);
            padding: var(--s-s);
            font-size: var(--fs-xs);
            font-weight: var(--fw-b);
            outline: var(--s-xxs) solid var(--c-highlight);
            margin: var(--s-xxs);
            width: calc(100% - 2 * var(--s-xxs));

            &::placeholder {
                font-weight: normal;
                color: var(--c-subtle);
            }

            &:focus {
                outline: var(--s-xxs) solid var(--c-blue)
            }

            &:not(:placeholder-shown) {
                background-color: var(--c-subtle);
                color: var(--c-background);
            }
        }
    }
}