.fg-subtle {
    color: var(--c-subtle);
}

.fs-s {
    font-size: var(--fs-s);
}

.fs-xs {
    font-size: var(--fs-xs);
}

.fw-b {
    font-weight: var(--fw-b);
}

/*div.issa-image {*/
/*    img {*/
/*        max-width: 800px;*/
/*    }*/
/*}*/