card {
    padding: var(--s-s);
    border-radius: var(--s-s);
    background-color: var(--c-highlight);
    color: var(--c-dimmedforeground);
    /*content-visibility: auto;*/
    width: var(--s-xxxl);
    height: 120.5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    column-gap: calc(1.5 * var(--s-s));

    & issa-image {
        overflow: hidden;
        border-radius: var(--s-xs);
        flex-shrink: 0;

        & img {
            object-fit: cover;
        }
    }

    & ul {
        list-style: none;
        padding-inline-start: 0;
        margin: 0;
        display: flex;
        flex-grow: 0;
        flex-direction: column;
        row-gap: var(--s-xs);
        overflow: hidden;


        & h3 {
            margin: 0 0 var(--s-xs) 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: var(--fw-n);
            font-size: var(--fs-n);
        }

        & li.badges {
            margin-block-end: auto;
            height: var(--s-n);
            color: var(--c-gray);

            & svg {
                width: var(--s-n);
                height: var(--s-n);
            }
        }

        & .property {
            font-size: var(--fs-xxs);
            color: var(--c-gray);
            display: grid;
            grid-template-columns: calc(1.5 * var(--s-n)) auto;
            align-content: center;
            grid-column-gap: var(--s-s);
            grid-row-gap: var(--s-s);
            align-items: center;

            & .title {
            }

            & .values {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: var(--c-dimmedforeground);

                & svg {
                    width: calc(1.75 * var(--s-s));
                    height: calc(1.75 * var(--s-s));
                    margin-inline-end: var(--s-s)
                }
            }
        }
    }
}

@container (max-width: 592px) {
    card {
        width: unset;
    }
}
