@scope (card) {
    :scope {
        --s-snh: calc((var(--s-s) + var(--s-n)) / 2);
        padding: var(--s-snh);
        --rep-foreground: color-mix(in display-p3, var(--c-rep), var(--c-foreground));
        color: color-mix(in display-p3, var(--c-rep) 25%, var(--c-foreground));
        background-color: color-mix(in display-p3, var(--rep-foreground) 20%, var(--c-highlight));
        border: var(--s-xxxs) solid color-mix(in display-p3, var(--rep-foreground) 15%, var(--c-background));
        border-radius: var(--s-s);
        content-visibility: auto;
        width: 264px;
        height: 120.5px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        column-gap: var(--s-snh);

        & issa-image {
            overflow: hidden;
            border-radius: var(--s-xs);
            flex-shrink: 0;

            & img {
                object-fit: cover;
            }
        }

        & ul {
            list-style: none;
            padding-inline-start: 0;
            margin: 0;
            display: flex;
            flex-grow: 0;
            flex-direction: column;
            row-gap: var(--s-xs);
            overflow: hidden;


            & h3 {
                margin: 0 0 var(--s-xs) 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: var(--fw-n);
            }

            & li.badges {
                margin-block-end: auto;

                & svg {
                    width: var(--s-s);
                    height: var(--s-s);
                }
            }

            & .property {
                font-size: var(--fs-xxs);
                display: grid;
                grid-template-columns: calc(var(--s-n) + var(--s-s)) auto;
                align-content: center;
                grid-column-gap: var(--s-s);
                grid-row-gap: var(--s-s);
                align-items: center;

                & .title {
                    color: var(--c-gray);
                }

                & .values {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    & svg {
                        width: calc(1.75 * var(--s-s));
                        height: calc(1.75 * var(--s-s));
                        margin-inline-end: var(--s-s)
                    }
                }
            }
        }
    }
}

@container (max-width: 592px) {
    @scope (card) {
        :scope {
            width: unset;
        }
    }
}