/* Safari specific fix, need to file a bug (or find existing one) to track */
details {
    & > summary {

        &::-webkit-details-marker {
            display: none;
        }

        & .marker {
            line-height: 0;

            & svg {
                width: var(--s-n);
                height: var(--s-n);
            }
        }

        & svg {
            width: calc(1.25 * var(--s-s));
            height: calc(1.25 * var(--s-s));
        }
    }

    &:focus {
        outline: 0;
    }

}

@scope (details) {
    :scope {

        width: 100%;

        & > summary {
            cursor: pointer;
            display: flex;
            align-items: center;
            user-select: none;

            &::marker {
                display: none;
            }

            & .open-marker {
                display: none;
            }
        }

        &[open] {
            margin-block-end: var(--mbe);

            & > summary {
                margin-block-end: var(--mbe);

                & .open-marker {
                    display: initial;
                }

                & .closed-marker {
                    display: none;
                }
            }
        }
    }
}

@scope (details.larger) {
    :scope {
        & > summary {
            --bg: var(--c-rephighlight);
            justify-content: space-between;
            min-width: max-content;
            max-width: var(--s-maxw);
            margin: auto;
            font-weight: var(--fw-b);
            padding: var(--s-xs);
            padding-inline-end: var(--s-s);
            background-color: var(--bg);
            color: var(--fg);
            border-radius: var(--s-s);
            column-gap: var(--s-s);
            row-gap: var(--rg);
            flex-wrap: wrap;

            & .summary-heading {
                background-color: var(--c-rephighlight);
                padding: calc(1.5 * var(--s-xs));
                border-radius: calc(1.5 * var(--s-xs));
                /*font-weight: var(--fw-b);*/
            }
        }

        &[open] {
            & .summary-heading {
                background-color: var(--c-repforeground);
                color: var(--c-rephighlight)
            }
        }
    }
}

@scope (details.smaller) {
    :scope {
        width: 100%;

        &[open] {
            margin-block-end: 0;

            & > summary {
                background: var(--c-repforeground);
                --fg: var(--c-highlight)
            }
        }

        & > summary {
            column-gap: var(--s-xs);
            padding: var(--s-xs) var(--s-s);
            background-color: var(--c-highlight);
            border-radius: var(--s-xs);
            color: var(--fg);
            width: max-content;
            justify-self: var(--js);
            align-self: var(--as);

            & svg {
                width: var(--s-s);
                height: var(--s-s);
            }

        }
    }
}



