/* Safari specific fix, need to file a bug (or find existing one) to track */
details {
    & > summary {
        &::-webkit-details-marker {
            display: none;
        }

        & .marker {
            line-height: 0;

            & svg {
                width: var(--s-s);
                height: var(--s-s);
            }
        }
    }

    &:focus  {
        outline: 0;
        & > summary {
            animation: var(--du-slow) ease-in-out infinite alternate cma-pulse;
        }
    }
}

@scope (details) {
    :scope {
        & > summary {
            cursor: pointer;
            display: flex;
            align-items: center;
            user-select: none;

            &::marker {
                display: none;
            }

            & .marker.open {
                display: none;
            }
        }

        &[open] {
            margin-block-end: var(--mbe);

            & > summary {
                margin-block-end: var(--mbe);
                /*outline: var(--s-xxs) solid var(--oc);*/

                & .marker.open {
                    display: initial;
                }

                & .marker.closed {
                    display: none;
                }
            }
        }
    }
}

@scope (details.larger) {
    :scope {
        & > summary {
            justify-content: space-between;
            min-width: max-content;
            max-width: var(--s-maxw);
            margin: auto;
            font-weight: var(--fw-b);
            padding: var(--s-s);
            background-color: var(--bg);
            color: var(--fg);
            border-radius: var(--br-l);
            column-gap: var(--s-s);
            row-gap: var(--rg);
            border: var(--s-xxs) solid color-mix(in display-p3, var(--bg), var(--c-rep) var(--cma));
            flex-wrap: wrap;
        }
    }
}

@scope (details.smaller) {
    :scope {
        width: 100%;

        &[open] {
            margin-block-end: 0;
        }

        & > summary {
            justify-content: start;
            column-gap: var(--s-xs);
            padding: var(--s-xxs) var(--s-n) var(--s-xxs) var(--s-s);
            background-color: var(--c-highlight);
            border-radius: var(--br-n);
            color: unset;
            width: max-content;
        }
    }
}



