@scope (flex-items) {
    :scope {
        display: flex;
        flex-wrap: wrap;
        row-gap: var(--rg);
        column-gap: var(--cg);
        flex-direction: var(--fd);
        align-content: var(--ac);
        align-items: var(--ai);
        justify-content: var(--jc);
        justify-items: var(--ji);
        font-size: var(--fs);
        font-weight: var(--fw);
        color: var(--fg);
        background-color: var(--bg);
        max-width: var(--mw);
        width: var(--w);
        border-radius: var(--br);
        column-rule: var(--crw) solid color-mix(in display-p3, var(--c-repgray) 25%, transparent)
    }
}