@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("OpenSans"), url('/fonts/open-sans');
    font-display: swap;
}
@font-face {
    font-family: "Open Sans Italic";
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url('/fonts/open-sans-italic');
    font-display: swap;
}