@scope (grid-items) {
    :scope {
        display: grid;
        grid-template-columns: repeat(var(--rgc), var(--s-cw));
        column-gap: var(--cg);
        row-gap: var(--rg);
        justify-content: var(--jc);
        --resp-grid-columns-default: 3;
        --rgc: var(--resp-grid-columns-default);
    }

    @container (max-width: 592px) {
        :scope {
            grid-template-columns: 1fr;
            justify-content: start;
        }
    }

    @container (min-width: 592px) and (max-width: 896px) {
        :scope {
            --rgc: 2;

            &.items-1 {
                --rgc: 1;
            }
        }
    }

    @container (min-width: 896px) and (max-width: 1200px) {
        :scope {
            --rgc: 3;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
        }
    }

    @container (min-width: 1200px) and (max-width: 1504px) {
        :scope {
            --rgc: 4;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
        }
    }

    @container (min-width: 1504px) and (max-width: 1808px) {
        :scope {
            --rgc: 5;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
        }
    }

    @container (min-width: 1808px) and (max-width: 2112px) {
        :scope {
            --rgc: 6;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
        }
    }

    @container (min-width: 2112px) and (max-width: 2416px) {
        :scope {
            --rgc: 7;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
        }
    }

    @container (min-width: 2416px) and (max-width: 2720px) {
        :scope {
            --rgc: 8;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
        }
    }

    @container (min-width: 2720px) and (max-width: 3024px) {
        :scope {
            --rgc: 9;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
            &.items-8 {
                --rgc: 8;
            }
        }
    }

    @container (min-width: 3024px) and (max-width: 3328px) {
        :scope {
            --rgc: 10;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
            &.items-8 {
                --rgc: 8;
            }
            &.items-9 {
                --rgc: 9;
            }
        }
    }

    @container (min-width: 3328px) and (max-width: 3632px) {
        :scope {
            --rgc: 11;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
            &.items-8 {
                --rgc: 8;
            }
            &.items-9 {
                --rgc: 9;
            }
        }
    }

    @container (min-width: 3632px) and (max-width: 3936px) {
        :scope {
            --rgc: 12;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
            &.items-8 {
                --rgc: 8;
            }
            &.items-9 {
                --rgc: 9;
            }
        }
    }

    @container (min-width: 3936px) and (max-width: 4240px) {
        :scope {
            --rgc: 13;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
            &.items-8 {
                --rgc: 8;
            }
            &.items-9 {
                --rgc: 9;
            }
        }
    }

    @container (min-width: 4240px) and (max-width: 4544px) {
        :scope {
            --rgc: 14;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
            &.items-8 {
                --rgc: 8;
            }
            &.items-9 {
                --rgc: 9;
            }
        }
    }

    @container (min-width: 4544px) and (max-width: 4848px) {
        :scope {
            --rgc: 15;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
            &.items-8 {
                --rgc: 8;
            }
            &.items-9 {
                --rgc: 9;
            }
        }
    }

    @container (min-width: 4848px) and (max-width: 5152px) {
        :scope {
            --rgc: 16;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
            &.items-8 {
                --rgc: 8;
            }
            &.items-9 {
                --rgc: 9;
            }
        }
    }

    @container (min-width: 5152px) and (max-width: 5456px) {
        :scope {
            --rgc: 17;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
            &.items-8 {
                --rgc: 8;
            }
            &.items-9 {
                --rgc: 9;
            }
        }
    }

    @container (min-width: 5456px) and (max-width: 5760px) {
        :scope {
            --rgc: 18;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
            &.items-8 {
                --rgc: 8;
            }
        }
    }

    @container (min-width: 5760px) and (max-width: 6064px) {
        :scope {
            --rgc: 19;

            &.items-1 {
                --rgc: 1;
            }
            &.items-2 {
                --rgc: 2;
            }
            &.items-3 {
                --rgc: 3;
            }
            &.items-4 {
                --rgc: 4;
            }
            &.items-5 {
                --rgc: 5;
            }
            &.items-6 {
                --rgc: 6;
            }
            &.items-7 {
                --rgc: 7;
            }
            &.items-8 {
                --rgc: 8;
            }
        }
    }

    @container (min-width: 6064px)
    :scope {
        --rgc: 20;

        &.items-1 {
            --rgc: 1;
        }
        &.items-2 {
            --rgc: 2;
        }
        &.items-3 {
            --rgc: 3;
        }
        &.items-4 {
            --rgc: 4;
        }
        &.items-5 {
            --rgc: 5;
        }
        &.items-6 {
            --rgc: 6;
        }
        &.items-7 {
            --rgc: 7;
        }
        &.items-8 {
            --rgc: 8;
        }
    }
}