@scope (grid-items) {
    :scope {
        display: grid;
        grid-template-columns: repeat(var(--resp-grid-columns), var(--s-cw));
        grid-template-rows: repeat(auto-fill, var(--gtr));
        column-gap: var(--cg);
        row-gap: var(--rg);
        justify-content: var(--jc);
        --resp-grid-columns-default: 3;
        --resp-grid-columns: var(--resp-grid-columns-default);
    }

    @container (max-width: 592px) {
        :scope {
            grid-template-columns: 1fr;
            justify-content: start;
        }
    }

    @container (min-width: 592px) and (max-width: 896px) {
        :scope {
            --resp-grid-columns: 2;
        }
    }

    @container (min-width: 896px) and (max-width: 1200px) {
        :scope {
            --resp-grid-columns: 3;
        }
    }

    @container (min-width: 1200px) and (max-width: 1504px) {
        :scope {
            --resp-grid-columns: 4;
        }
    }

    @container (min-width: 1504px) and (max-width: 1808px) {
        :scope {
            --resp-grid-columns: 5;
        }
    }

    @container (min-width: 1808px) and (max-width: 2112px) {
        :scope {
            --resp-grid-columns: 6;
        }
    }

    @container (min-width: 2112px) and (max-width: 2416px) {
        :scope {
            --resp-grid-columns: 7;
        }
    }

    @container (min-width: 2416px) and (max-width: 2720px) {
        :scope {
            --resp-grid-columns: 8;
        }
    }

    @container (min-width: 2720px) and (max-width: 3024px) {
        :scope {
            --resp-grid-columns: 9;
        }
    }

    @container (min-width: 3024px) and (max-width: 3328px) {
        :scope {
            --resp-grid-columns: 10;
        }
    }

    @container (min-width: 3328px) and (max-width: 3632px) {
        :scope {
            --resp-grid-columns: 11;
        }
    }

    @container (min-width: 3632px) and (max-width: 3936px) {
        :scope {
            --resp-grid-columns: 12;
        }
    }

    @container (min-width: 3936px) and (max-width: 4240px) {
        :scope {
            --resp-grid-columns: 13;
        }
    }

    @container (min-width: 4240px) and (max-width: 4544px) {
        :scope {
            --resp-grid-columns: 14;
        }
    }

    @container (min-width: 4544px) and (max-width: 4848px) {
        :scope {
            --resp-grid-columns: 15;
        }
    }

    @container (min-width: 4848px) and (max-width: 5152px) {
        :scope {
            --resp-grid-columns: 16;
        }
    }

    @container (min-width: 5152px) and (max-width: 5456px) {
        :scope {
            --resp-grid-columns: 17;
        }
    }

    @container (min-width: 5456px) and (max-width: 5760px) {
        :scope {
            --resp-grid-columns: 18;
        }
    }

    @container (min-width: 5760px) and (max-width: 6064px) {
        :scope {
            --resp-grid-columns: 19;
        }
    }

    @container (min-width: 6064px)
    :scope {
        --resp-grid-columns: 20;
    }
}