@view-transition {
    navigation: auto;
}

:root {
    background: transparent;
}

html {
    margin-inline: var(--s-s);
    background: transparent;
}

body {
    overflow: hidden;
    max-width: var(--s-maxw);
    margin: 0 auto;
}

img, video {
    max-width: 100%;
    height: unset;
}