@scope (issa-image) {
    :scope {
        justify-content: center;
        align-content: center;
        display: grid;
        background-color: var(--c-background);
        border-radius: var(--br-n);
        width: var(--w);
        height: var(--h);

        & img {
            object-fit: contain;
            object-position: top;
            line-height: 0;
            grid-row: 1;
            grid-column: 1;
            border-radius: var(--br-n);
            width: var(--w);
            height: var(--h);
            transition: opacity var(--du-slow);

            &.loading {
                opacity: 0;
            }

            &.placeholder {
                image-rendering: pixelated;
            }
        }
    }
}