@scope (span.labels) {

    :scope {
        min-height: var(--s-n);
        overflow: hidden;
        cursor: default;
        --label-color: unset;
        --label-cm-color: var(--c-gray);

        & ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: var(--rg);
            column-gap: var(--cg);
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: var(--fs);

            & .label {
                border-width: var(--s-xxxs);
                border-style: solid;
                border-color: color-mix(in display-p3, var(--label-color), var(--label-cm-color) var(--cma));
                background-color: var(--label-color);
                display: flex;
                align-items: center;
                width: min-content;
                text-transform: uppercase;
                padding: var(--s-xxs) var(--s-xs);
                border-radius: var(--br-s);
                white-space: nowrap;
            }
        }
    }
}