.month-day {
    height: var(--s-n);
    font-family: "SF Mono", "PT Mono", monospace;
    container-type: size;

    & .month {
        text-transform: uppercase;
        font-size: 40cqb;
    }

    & .day {
        font-weight: bold;
        font-size: 55cqb;
    }
}