@scope (nav-links) {
    :scope {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > ul {
            list-style: none;
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: var(--s-xs);
            column-gap: var(--s-xs);
            row-gap: var(--s-xxs);
            background-color: var(--c-highlight);
            border-radius: var(--s-s);
            justify-content: center;

            & > li > a {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: var(--s-s);
                padding: calc((var(--s-s) + var(--s-xs))/2) var(--s-s);
                border-radius: var(--s-xs);
                font-size: var(--fs-s);
                color: var(--c-foreground);
                font-weight: normal;
                height: var(--s-n);

                & svg {
                    width: var(--s-n);
                    height: var(--s-n);
                }

                &.selected {
                    background: linear-gradient(var(--c-dimmedforeground), var(--c-foreground));
                    color: var(--c-highlight);
                }

                &:hover {
                    color: var(--c-background);
                    background-color: var(--c-gray);
                }
            }
        }


    }
}