@view-transition {
    navigation: auto;
}

::view-transition-old(*) {
    animation: fade-out var(--du-fast) linear forwards;
    height: 100%;
}
::view-transition-new(*) {
    animation: fade-out var(--du-fast) linear reverse;
    height: 100%;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

html {
    min-height: 100%;
    scroll-behavior: auto;
    background-color: color-mix(in display-p3, var(--c-rep) 7.5%, var(--c-background));
    color: color-mix(in display-p3, var(--c-rep) 15%, var(--c-foreground));
    -webkit-font-smoothing: subpixel-antialiased
}

body {
    margin: var(--s-n);
    container-type: inline-size;
}

* {
    font-family: -apple-system, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--fw-b);
}

h1 {
    font-size: var(--fs-xxxl)
}

h2 {
    font-size: var(--fs-xxl)
}

h3 {
    font-size: var(--fs-l);
}

h4,h5,h6 {
    font-size: var(--fs-n);
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    padding: 0;
    border: var(--s-xxxs) solid var(--c-highlight);
}

ul {
    padding-inline-start: var(--s-n);
    list-style: "- ";
}

._compton_error_message {
    padding: var(--s-s) var(--s-n);
    border-radius: var(--s-xs);
}