@scope (title-values) {
    :scope {
        display: flex;
        flex-direction: column;
        row-gap: var(--rg);
        content-visibility: auto;
        contain-intrinsic-height: auto var(--s-xl);

        & h3 {
            margin: 0;
            font-weight: var(--fw-n);
            font-size: var(--fs-n);
            color: var(--fg);
            height: var(--s-n);
            margin-block: var(--s-xs);
        }

        & a {
            line-height: var(--s-n);
            font-weight: var(--fw-b);
            color: inherit
        }

        & > div {
            line-height: var(--s-n);
            color: var(--c-gray);
            font-size: var(--fs-s)
        }

        & svg {
            width: var(--s-n);
            height: var(--s-n);
        }
    }
}