:root {
    --s-n: 1rem; /* 16px */

    --s-s: calc(var(--s-n) / 2); /* 0.5rem == 8px */
    --s-xs: calc(var(--s-s) / 2); /* 0.25rem == 4px */
    --s-xxs: calc(var(--s-xs) / 2); /* 0.125rem == 2px */
    --s-xxxs: calc(var(--s-xxs) / 2); /* 0.0625rem == 1px */

    --s-l: calc(2 * var(--s-n)); /* 2rem == 32px */
    --s-xl: calc(2 * var(--s-l)); /* 4rem == 64px */
    --s-xxl: calc(2 * var(--s-xl)); /* 8rem == 128px */
    --s-xxxl: calc(2 * var(--s-xxl)); /* 16rem == 256px */

    --s-cw: calc(9 * var(--s-l));
    --s-maxw: calc(3 * var(--s-xxxl));

    --br-s: var(--s-xxs);
    --br-n: var(--s-xs);
    --br-l: var(--s-s);

    --fs-n: 1rem;

    --fs-s: 0.8rem;
    --fs-xs: 0.6rem;
    --fs-xxs: 0.4rem;
    --fs-xxxs: 0.2rem;

    --fs-l: 1.2rem;
    --fs-xl: 1.4rem;
    --fs-xxl: 1.6rem;
    --fs-xxxl: 1.8rem;

    --fw-n: 450;

    --fw-l: 300;
    --fw-b: 600;

    --du-fast: 256ms;
    --du-normal: 1024ms;
    --du-slow: 2048ms;

    /* customizable properties */

    --cg: var(--s-n); /*column-gap*/
    --rg: var(--s-n); /*row-gap*/
    --ac: unset; /*align-content*/
    --ai: unset; /*align-items*/
    --jc: unset; /*justify-content*/
    --ji: unset; /*justify-items*/
    --fd: unset; /*flex-direction*/
    --fg: unset; /*color*/
    --bg: unset; /*background-color*/
    --cm: var(--c-gray); /*marker color*/
    --fs: unset; /*font-size*/
    --fw: unset; /*font-weight*/
    --mbe: var(--s-n); /*margin-block-end*/
    --gtr: unset; /* grid-template-row */
    --w: unset; /* width */
    --h: unset; /* height */
    --ta: unset; /* text-align */
    --oc: unset; /* outline-color */
    --ar: unset; /* aspect-ratio */
    --pdi: unset; /* padding-inline */
    --pdb: unset; /* padding-block */
    --br: unset; /* border-radius */
}

@property --cma {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 10%;
}

@keyframes cma-pulse {
    from {
        --cma: 90%
    }
    to {
        --cma: 40%
    }
}

