:root {
    --s-n: 1rem; /* 16px */

    --s-s: calc(var(--s-n) / 2); /* 0.5rem == 8px */
    --s-xs: calc(var(--s-s) / 2); /* 0.25rem == 4px */
    --s-xxs: calc(var(--s-xs) / 2); /* 0.125rem == 2px */
    --s-xxxs: calc(var(--s-xxs) / 2); /* 0.0625rem == 1px */

    --s-l: calc(2 * var(--s-n)); /* 2rem == 32px */
    --s-xl: calc(2 * var(--s-l)); /* 4rem == 64px */
    --s-xxl: calc(2 * var(--s-xl)); /* 8rem == 128px */
    --s-xxxl: calc(2 * var(--s-xxl)); /* 16rem == 256px */

    --s-cw: calc(7 * var(--s-l));
    --s-maxw: calc(3 * var(--s-xxxl));
    --s-fw: 100%;

    --fs-n: 12pt;

    --fs-s: 11pt;
    --fs-xs: 10pt;
    --fs-xxs: 9pt;
    --fs-xxxs: 7pt;

    --fs-l: 13pt;
    --fs-xl: 15pt;
    --fs-xxl: 17pt;
    --fs-xxxl: 22pt;

    --fw-n: 450;

    --fw-l: 300;
    --fw-b: 600;

    --du-fast: 256ms;
    --du-normal: 1024ms;
    --du-slow: 2048ms;

    /* customizable properties */

    --cg: var(--s-n); /*column-gap*/
    --rg: var(--s-n); /*row-gap*/
    --ac: unset; /*align-content*/
    --ai: unset; /*align-items*/
    --jc: unset; /*justify-content*/
    --ji: unset; /*justify-items*/
    --fd: unset; /*flex-direction*/
    --fg: inherit; /*color*/
    --bg: unset; /*background-color*/
    --cm: var(--c-gray); /*marker color*/
    --fs: unset; /*font-size*/
    --fw: unset; /*font-weight*/
    --mbe: var(--s-n); /*margin-block-end*/
    --gtr: unset; /* grid-template-row */
    --w: unset; /* width */
    --h: unset; /* height */
    --ta: unset; /* text-align */
    --oc: unset; /* outline-color */
    --ar: unset; /* aspect-ratio */
    --pdi: unset; /* padding-inline */
    --pdb: unset; /* padding-block */
    --br: unset; /* border-radius */
    --mw: unset; /* max-width */
}

