@scope (section) {
    :scope {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        font-size: var(--fs);
        font-weight: var(--fw);

        & > * {
            max-width: var(--s-maxw);
            background: var(--bg);
            color: var(--fg);
            border-radius: var(--br-l);
            padding: var(--s-n)
        }
    }
}