:host(:not([data-foreground-color])) {
    --c-fg: var(--c-foreground)
}

:host([data-foreground-color=black]) {
    --c-fg: black
}

:host([data-foreground-color=white]) {
    --c-fg: white
}

:host([data-foreground-color=red]) {
    --c-fg: var(--c-red)
}

:host([data-foreground-color=pink]) {
    --c-fg: var(--c-pink)
}

:host([data-foreground-color=purple]) {
    --c-fg: var(--c-purple)
}

:host([data-foreground-color=deep-purple]) {
    --c-fg: var(--c-deep-purple)
}

:host([data-foreground-color=indigo]) {
    --c-fg: var(--c-indigo)
}

:host([data-foreground-color=blue]) {
    --c-fg: var(--c-blue)
}

:host([data-foreground-color=light-blue]) {
    --c-fg: var(--c-light-blue)
}

:host([data-foreground-color=cyan]) {
    --c-fg: var(--c-cyan)
}

:host([data-foreground-color=teal]) {
    --c-fg: var(--c-teal)
}

:host([data-foreground-color=green]) {
    --c-fg: var(--c-green)
}

:host([data-foreground-color=light-green]) {
    --c-fg: var(--c-light-green)
}

:host([data-foreground-color=lime]) {
    --c-fg: var(--c-lime)
}

:host([data-foreground-color=yellow]) {
    --c-fg: var(--c-yellow)
}

:host([data-foreground-color=amber]) {
    --c-fg: var(--c-amber)
}

:host([data-foreground-color=orange]) {
    --c-fg: var(--c-orange)
}

:host([data-foreground-color=deep-orange]) {
    --c-fg: var(--c-deep-orange)
}

:host([data-foreground-color=brown]) {
    --c-fg: var(--c-brown)
}

:host([data-foreground-color=background]) {
    --c-fg: var(--c-background)
}

:host([data-foreground-color=foreground]) {
    --c-fg: var(--c-foreground)
}

:host([data-foreground-color=subtle]) {
    --c-fg: var(--c-subtle)
}

:host([data-foreground-color=highlight]) {
    --c-fg: var(--c-highlight)
}

:host([data-foreground-color=shadow]) {
    --c-fg: var(--c-shadow)
}