:host(:not([data-details-margin])) {
    --details-margin: var(--normal)
}

:host([data-details-margin=normal]) {
    --details-margin: var(--normal)
}

:host([data-details-margin=small]) {
    --details-margin: var(--small)
}

:host([data-details-margin=x-small]) {
    --details-margin: var(--x-small)
}

:host([data-details-margin=xx-small]) {
    --details-margin: var(--xx-small)
}

:host([data-details-margin=xxx-small]) {
    --details-margin: var(--xxx-small)
}

:host([data-details-margin=large]) {
    --details-margin: var(--large)
}

:host([data-details-margin=x-large]) {
    --details-margin: var(--x-large)
}

:host([data-details-margin=xx-large]) {
    --details-margin: var(--xx-large)
}

:host([data-details-margin=xxx-large]) {
    --details-margin: var(--xxx-large)
}