:host(:not([data-summary-margin])) {
    --summary-margin: var(--normal);
}

:host([data-summary-margin=normal]) {
    --summary-margin: var(--normal)
}

:host([data-summary-margin=small]) {
    --summary-margin: var(--small)
}

:host([data-summary-margin=x-small]) {
    --summary-margin: var(--x-small)
}

:host([data-summary-margin=xx-small]) {
    --summary-margin: var(--xx-small)
}

:host([data-summary-margin=xxx-small]) {
    --summary-margin: var(--xxx-small)
}

:host([data-summary-margin=large]) {
    --summary-margin: var(--large)
}

:host([data-summary-margin=x-large]) {
    --summary-margin: var(--x-large)
}

:host([data-summary-margin=xx-large]) {
    --summary-margin: var(--xx-large)
}

:host([data-summary-margin=xxx-large]) {
    --summary-margin: var(--xxx-large)
}