:host([data-background-color=black]) {
    --c-bg: black
}

:host([data-background-color=white]) {
    --c-bg: white
}

:host([data-background-color=red]) {
    --c-bg: var(--c-red)
}

:host([data-background-color=pink]) {
    --c-bg: var(--c-pink)
}

:host([data-background-color=purple]) {
    --c-bg: var(--c-purple)
}

:host([data-background-color=deep-purple]) {
    --c-bg: var(--c-deep-purple)
}

:host([data-background-color=indigo]) {
    --c-bg: var(--c-indigo)
}

:host([data-background-color=blue]) {
    --c-bg: var(--c-blue)
}

:host([data-background-color=light-blue]) {
    --c-bg: var(--c-light-blue)
}

:host([data-background-color=cyan]) {
    --c-bg: var(--c-cyan)
}

:host([data-background-color=teal]) {
    --c-bg: var(--c-teal)
}

:host([data-background-color=green]) {
    --c-bg: var(--c-green)
}

:host([data-background-color=light-green]) {
    --c-bg: var(--c-light-green)
}

:host([data-background-color=lime]) {
    --c-bg: var(--c-lime)
}

:host([data-background-color=yellow]) {
    --c-bg: var(--c-yellow)
}

:host([data-background-color=amber]) {
    --c-bg: var(--c-amber)
}

:host([data-background-color=orange]) {
    --c-bg: var(--c-orange)
}

:host([data-background-color=deep-orange]) {
    --c-bg: var(--c-deep-orange)
}

:host([data-background-color=brown]) {
    --c-bg: var(--c-brown)
}

:host([data-background-color=background]) {
    --c-bg: var(--c-background)
}

:host([data-background-color=foreground]) {
    --c-bg: var(--c-foreground)
}

:host([data-background-color=subtle]) {
    --c-bg: var(--c-subtle)
}

:host([data-background-color=highlight]) {
    --c-bg: var(--c-highlight)
}

:host([data-background-color=shadow]) {
    --c-bg: var(--c-shadow)
}