table {
    border-collapse: collapse;
    border: 1px solid var(--c-subtle);
    width: max-content;
    margin: 0;

    & tr * {
        border: 1px solid var(--c-subtle);
        padding: var(--s-s);
        padding-inline-end: var(--s-n)
    }

    & th {
        text-align: left;
        background-color: var(--c-highlight)
    }

    & tfoot {
        color: var(--c-subtle)
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: var(--fw-b);
}

h1 {
    font-size: var(--fs-xxl)
}

h2 {
    font-size: var(--fs-xl)
}

h3 {
    font-size: var(--fs-l);
}

a {
    text-decoration: none;
    color: inherit;

    &.action {
        color: var(--c-blue);
        font-weight: var(--fw-b);
    }
}

title-values {
    & a {
        font-weight: var(--fw-b);
        color: inherit
    }
}

details {
    content-visibility: auto;

    & summary {
        display: flex;

        &::marker {
            display: none;
        }

        &::-webkit-details-marker {
            display: none;
        }
    }

}

details[open] {
    & svg.details-marker {
        rotate: -45deg;
    }
}

input[type=text],
input[type=search] {
    appearance: none;
    border: none;
    border-radius: var(--br-n);
    background-color: var(--c-highlight);
    padding: var(--s-s);
    font-size: var(--fs-xs);
    font-weight: var(--fw-b);
    outline: var(--s-xxs) solid var(--c-highlight);
    margin: var(--s-xxs);
    width: calc(100% - 2 * var(--s-xxs));

    &::placeholder {
        font-weight: normal;
        color: var(--c-subtle);
    }

    &:focus {
        outline: var(--s-xxs) solid var(--c-blue)
    }

    &:not(:placeholder-shown) {
        background-color: var(--c-subtle);
        color: var(--c-background);
    }
}

input[type=button], input[type=submit] {
    border: var(--s-xs) solid var(--c-highlight);
    background-color: var(--c-foreground);
    text-decoration: none;
    color: var(--c-highlight);
    font-weight: var(--fw-b);
    font-size: var(--fs-xs);
    width: 100%;
    max-width: calc(5 * var(--s-xl));
    padding: var(--s-s) var(--s-n);
    border-radius: var(--br-l);
    cursor: pointer;

    &:hover {
        background-color: var(--c-subtle);
        color: var(--c-background);
    }
}

@container (max-width: 700px) {
    button, input[type=submit] {
        max-width: unset;
    }
}

iframe {
    border: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden;

    &.loading {
        opacity: 0
    }
}



