:root {

    --s-n: 1rem; /* 16px */

    --s-s: calc(var(--s-n) / 2); /* 0.5rem == 8px */
    --s-xs: calc(var(--s-s) / 2); /* 0.25rem == 4px */
    --s-xxs: calc(var(--s-xs) / 2); /* 0.125rem == 2px */
    --s-xxxs: calc(var(--s-xxs) / 2); /* 0.0625rem == 1px */

    --s-l: calc(2 * var(--s-n)); /* 2rem == 32px */
    --s-xl: calc(2 * var(--s-l)); /* 4rem == 64px */
    --s-xxl: calc(2 * var(--s-xl)); /* 8rem == 128px */
    --s-xxxl: calc(2 * var(--s-xxl)); /* 16rem == 256px */

    --s-cw: calc(9 * var(--s-l));
    --s-maxw: calc(3 * var(--s-xxxl));

    --cg: var(--s-n);
    --rg: var(--s-n);
    --jc: center;
    --ji: center;
    --ac: center;
    --ai: center;

    --br-n: var(--s-xs);
    --br-l: var(--s-s);

    --fs-n: 1rem;

    --fs-s: 0.9rem;
    --fs-xs: 0.8rem;
    --fs-xxs: 0.5rem;
    --fs-xxxs: 0.375rem;

    --fs-l: 1.2rem;
    --fs-xl: 1.4rem;
    --fs-xxl: 2rem;
    --fs-xxxl: 2.4rem;

    --fw-l: 300;
    --fw-b: 600;

    --du-fast: 0.1s;
    --du-slow: 2s;
}