@scope (input[type=button], input[type=submit]) {
    :scope {
        border: var(--s-xs) solid var(--c-highlight);
        background-color: var(--c-foreground);
        text-decoration: none;
        color: var(--c-highlight);
        font-weight: var(--fw);
        font-size: var(--fs-s);
        padding: calc((var(--s-s) + var(--s-xs))/2) var(--s-s);
        border-radius: var(--br-l);
        cursor: pointer;

        &:hover {
            background-color: var(--c-subtle);
            color: var(--c-background);
        }
    }
}



