details {
    & > summary {
        &::-webkit-details-marker {
            display: none;
        }
    }
}

@scope (details) {
    :scope {
        /* TODO: re-enable when https://bugs.webkit.org/show_bug.cgi?id=277573 is fixed */
        /*content-visibility: auto;*/

        & > summary {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: max-content;
            max-width: var(--s-maxw);
            margin: auto;
            font-weight: var(--fw-b);
            padding: calc((var(--s-n) + var(--s-s)) / 2) var(--s-n);
            background-color: var(--bg);
            color: var(--fg);
            border-radius: var(--br-l);
            column-gap: var(--s-s);
            cursor: pointer;
            user-select: none;

            & > svg {
                width: calc((var(--s-n) + var(--s-s)) / 2);
                height: calc((var(--s-n) + var(--s-s)) / 2);
                transform-origin: 50% 50%;
                transition: rotate var(--du-fast) ease-in-out;
                color: var(--cm)
            }
        }

        &[open] {
            margin-block-end: var(--mbe);

            & > summary {
                margin-block-end: var(--mbe);

                & > svg {
                    rotate: -45deg;
                }
            }
        }
    }
}



