@scope (table) {
    :scope {
        border-collapse: collapse;
        border: 1px solid var(--c-subtle);
        width: max-content;
        margin: 0;

        & tr * {
            border: 1px solid var(--c-subtle);
            padding: var(--s-s);
            padding-inline-end: var(--s-n)
        }

        & th {
            text-align: left;
            background-color: var(--c-highlight)
        }

        & tfoot {
            color: var(--c-subtle)
        }
    }
}