table {
    border-collapse: collapse;
    border: 1px solid var(--c-subtle);
    width: max-content;
    margin: 0;

    & tr * {
        border: 1px solid var(--c-subtle);
        padding: var(--small);
        padding-inline-end: var(--normal)
    }

    & th {
        text-align: left;
        background-color: var(--c-highlight)
    }

    & tfoot {
        color: var(--c-subtle)
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: var(--c-blue);
    text-decoration: none;
    font-weight: bold;
}

details {
    content-visibility: auto;

    & summary {
        display: flex;

        &::marker {
            display: none;
        }

        &::-webkit-details-marker {
            display: none;
        }
    }

}

details[open] {
    & svg.details-marker {
        rotate: -45deg;
    }
}