table {
    border-collapse: collapse;
    border: 1px solid var(--c-subtle);
    width: max-content;
    margin: 0;

    & tr * {
        border: 1px solid var(--c-subtle);
        padding: var(--small);
        padding-inline-end: var(--normal)
    }

    & th {
        text-align: left;
        background-color: var(--c-highlight)
    }

    & tfoot {
        color: var(--c-subtle)
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: var(--fw-bolder);
}

h1 {
    font-size: var(--fs-xx-larger)
}

h2 {
    font-size: var(--fs-x-larger)
}

h3 {
    font-size: var(--fs-larger);
}

a {
    /*color: var(--c-blue);*/
    text-decoration: none;
    /*font-weight: var(--fw-bolder);*/
}

details {
    content-visibility: auto;

    & summary {
        display: flex;

        &::marker {
            display: none;
        }

        &::-webkit-details-marker {
            display: none;
        }
    }

}

details[open] {
    & svg.details-marker {
        rotate: -45deg;
    }
}

svg.icon {
    width: calc(1.25 * var(--normal));
    height: calc(1.25 * var(--normal));
}

input[type=text],
input[type=search] {
    appearance: none;
    border: none;
    border-radius: var(--br-normal);
    background-color: var(--c-highlight);
    padding: var(--small);
    font-size: var(--fs-x-smaller);
    font-weight: var(--fw-bolder);
    outline: var(--xx-small) solid var(--c-highlight);
    margin: var(--xx-small);
    width: calc(100% - 2*var(--xx-small));

    &::placeholder {
        font-weight: normal;
        color: var(--c-subtle);
    }

    &:focus {
      outline: var(--xx-small) solid var(--c-blue)
    }
}
