table {
    border-collapse: collapse;
    border: 1px solid var(--subtle-color);
    width: max-content;
    margin: 0;

    & tr * {
        border: 1px solid var(--subtle-color);
        padding: var(--small);
        padding-inline-end: var(--normal)
    }

    & th {
        text-align: left;
        background-color: var(--highlight-color)
    }

    & tfoot {
        color: var(--subtle-color)
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: var(--c-blue);
    text-decoration: none;
    font-weight: bold;
}