:root {
    --c-white: white;
    --c-black: black;
}

/* https://developer.apple.com/design/human-interface-guidelines/color#macOS-system-colors */

@media screen and (prefers-color-scheme:light) {
    :root {
        --c-red: rgb(255,59,48);
        --c-orange: rgb(255,149,0);
        --c-yellow: rgb(255,204,0);
        --c-green: rgb(40,205,65);
        --c-mint: rgb(0,199,190);
        --c-teal: rgb(89,173,196);
        --c-cyan: rgb(85,190,240);
        --c-blue: rgb(0,122,255);
        --c-indigo: rgb(88,86,214);
        --c-purple: rgb(175,82,222);
        --c-pink: rgb(255,45,85);
        --c-brown: rgb(162,132,94);

        --c-subtle: rgb(142,142,147); /* gray */
        --c-background: rgb(242,242,247); /* systemGray6 */
        --c-foreground: rgb(28,28,30); /* systemGray6 (Dark) */
        --c-highlight: white;
    }
}

@media screen and (prefers-color-scheme:dark) {
    :root {
        --c-red: rgb(255,69,58);
        --c-orange: rgb(255,159,10);
        --c-yellow: rgb(255,214,10);
        --c-green: rgb(50,215,75);
        --c-mint: rgb(102,212,207);
        --c-teal: rgb(106,196,220);
        --c-cyan: rgb(90,200,245);
        --c-blue: rgb(10,132,255);
        --c-indigo: rgb(94,92,230);
        --c-purple: rgb(191,90,242);
        --c-pink: rgb(255,55,95);
        --c-brown: rgb(172,142,104);

        --c-subtle: rgb(152,152,157); /* gray */
        --c-background: rgb(28,28,30); /* systemGray6 */
        --c-foreground: rgb(242,242,247); /* systemGray6 (Light) */
        --c-highlight: black;
    }
}