:root {
    --c-white: white;
    --c-black: black;
}

/* https://developer.apple.com/design/human-interface-guidelines/color#macOS-system-colors */
/* Accessible (Light) */

@media screen and (prefers-color-scheme:light) {
    :root {
        --c-red: rgb(215,0,21);
        --c-orange: rgb(201,52,0);
        --c-yellow: rgb(160,90,0);
        --c-green: rgb(0,125,27);
        --c-mint: rgb(12,129,123);
        --c-teal: rgb(0,130,153);
        --c-cyan: rgb(0,113,164);
        --c-blue: rgb(0,64,221);
        --c-indigo: rgb(54,52,163);
        --c-purple: rgb(173,68,171);
        --c-pink: rgb(211,15,69);
        --c-brown: rgb(127,101,69);
        --c-gray: rgb(105,105,105);

        --c-background: rgb(242,242,242); /* systemGray6 adjusted from rgb(242,242,247) */
        --c-foreground: rgb(28,28,28); /* systemGray6 (Dark) */
        --c-highlight: white;
    }
}

/* Dark */

@media screen and (prefers-color-scheme:dark) {
    :root {
        --c-red: rgb(255,69,58);
        --c-orange: rgb(255,159,10);
        --c-yellow: rgb(255,214,10);
        --c-green: rgb(50,215,75);
        --c-mint: rgb(102,212,207);
        --c-teal: rgb(106,196,220);
        --c-cyan: rgb(90,200,245);
        --c-blue: rgb(10,132,255);
        --c-indigo: rgb(94,92,230);
        --c-purple: rgb(191,90,242);
        --c-pink: rgb(255,55,95);
        --c-brown: rgb(172,142,104);
        --c-gray: rgb(152,152,152);

        --c-background: rgb(28,28,28);
        --c-foreground: rgb(242,242,242); /* systemGray6 (Light) */
        --c-highlight: black;
    }
}