@scope (nav-links) {
    :scope {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: var(--s-xs);
            column-gap: var(--s-xs);
            row-gap: var(--s-xs);
            background-color: var(--c-highlight);
            border-radius: var(--br-l);
            justify-content: center;

            & > a {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: var(--s-s);
                padding: var(--s-s);
                border-radius: var(--br-n);
                font-size: var(--fs-xs);
                color: var(--c-foreground);
                font-weight: normal;

                & svg {
                    width: calc(1.25 * var(--s-n));
                    height: calc(1.25 * var(--s-n));
                }

                &.selected {
                    background-color: var(--c-foreground);
                    color: var(--c-highlight);
                }

                &:hover {
                    color: var(--c-background);
                    background-color: var(--c-subtle);
                }
            }
        }


    }
}