{{define "css-base"}}
    <style id="css-base">
        html {
            min-height: 100%;
            scroll-behavior: smooth;
        }

        body {
            margin: 0;
        }

        * {
            font-family: -apple-system, sans-serif;
        }
    </style>
{{end}}